
header{
    background-color: black;
}
#etapa1{
    background-color: black;
}

#etapa1 ,h1 {
    font-size: 52px;
    font-weight: 700px;
    line-height: 64px;
}

img{
    height: 558px;
    width: 558px;
    margin: 0 auto;
    display: block;
}

#etapa1{
    padding-top: 64px;
        padding-right: 64px;
        padding-bottom: 64px;
        padding-left: 64px;    
}

