
header{
    background-color: black;
}
#etapa1{
    background-color: black;
}

#etapa1 ,h1 {
    font-size: 52px;
    font-weight: 700px;
    line-height: 64px;
}

#etapa1{
    padding-top: 104px;
        padding-right: 64px;
        padding-bottom: 64px;
        padding-left: 244px;    
}

#etapa2{
    padding-top: 64px;
        padding-right: 64px;
        padding-bottom: 64px;
        padding-left: 64px;    
} 

#etapa3{
    padding-top: 64px;
    padding-right: 184px;
    padding-bottom: 64px;
    padding-left: 204px;
}










img{
    height: 558px;
    width: 558px;
    margin: 0 auto;
    display: block;
}



footer{
    background-color: black;
    color: white;

}

footer a{
    color: white;
    text-decoration: none;
}

footer ul{
    list-style: none;
}


.row-footer{
    display: flex;
}



footer .icone{
    display: flex;
    gap: 100px;
    flex-direction: column;
}